@font-face
  font-family: 'Arima Madurai'
  font-style: normal
  font-weight: 400
  src: local('Arima Madurai'), local('ArimaMadurai-Regular'),
    url('../fonts/arima-madurai-v4-latin-regular.woff2') format('woff2'),
    url('../fonts/arima-madurai-v4-latin-regular.woff') format('woff')
