mixin cities-list
  form.cities-list
    input.cities-list__input(type="text" placeholder="Enter the name of the city")
    ul.cities-list__suggestions
      li.cities-list__suggestion Filter by city
