.cities-list
  font-size 20px
  font-family 'Arima Madurai', cursive

.cities-list__input
  box-sizing border-box
  min-width 300px
  border 5px solid #eeeeee
  padding 10px 20px
  font inherit

.cities-list__suggestions
  padding 0
  margin 0

.cities-list__suggestion
  box-sizing border-box
  min-width 300px
  border 2px solid lightyellow
  margin 0
  padding 5px 10px
  list-style none
